<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://54.86.66.223:3306/eternitydb</property>
		<property name="hibernate.connection.username">admindb</property>
		<property name="hibernate.connection.password">Sea2s0n1!</property>

		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.show_sql">true</property>

		<mapping class="com.eternity.pojo.Person" />
		<mapping class="com.eternity.pojo.Address" />
		<mapping class="com.eternity.pojo.UserAccount" />
		
		

	</session-factory>
</hibernate-configuration>